# Responsable por defecto
* @yersonct

# Gobernanza
/00-governance/ @yersonct

# Contexto
/01-context/ @yersonct

# Dominio
/02-domain/ @yersonct

# Producto
/03-product/ @yersonct

# Requerimientos
/04-requirements/ @yersonct

# Arquitectura
/05-architecture/ @yersonct

# Datos
/06-data/ @yersonct

# API
/07-api/ @yersonct

# UML
/08-uml/ @yersonct

# Microservicios
/09-microservices/ @yersonct

# DevOps
/10-devops/ @yersonct

# Calidad
/11-quality/ @yersonct

# UX/UI
/12-ux-ui/ @yersonct

# Operaciones
/13-operations/ @yersonct

# Entrenamiento
/14-training/ @yersonct

# Control del proyecto
/15-project-control/ @yersonct